streamlit
langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
langchain-groq
pypdf
faiss-cpu
chroma
langchain-huggingface
langchain-chroma
ipykernel
arxiv
wikipedia
duckduckgo-search
pandas
numpy
datetime
faker
mysql-connector-python
validators==0.28.1
youtube_transcript_api
pytube
unstructured
numexpr
langchain_huggingface
huggingface_hub
cassio
datasets
PyPDF2